<div class="dashboard">
  <mat-card class="info-box">
    <mat-card-header>
      <mat-card-title>Employee Count</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <p *ngIf="vm.users.length;else loading">{{ vm.users.length }}</p>
      <ng-template #loading>Loading...</ng-template> -->
    </mat-card-content>
  </mat-card>

  <ul>
    <!-- <li *ngFor="let user of (vm$ | async).users">
      <span>{{ user.name }}: {{ user.regular_hours }}</span>
    </li> -->
  </ul>

</div>
